#register_page,
#login_page {
    .heading {
        text-align: center;
        margin: 60px 0;
    }
    .form_wrapper {
        max-width: 50%;
        margin: 0 auto;
    }
}

#post_form h4{
    margin-bottom: 12px;
}

.col_space{
    margin-bottom: 22px !important;
}
